/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2017, 11:24:01 PM
    Author     : Razvan
*/

#au,#sm 
{
    -fx-padding: 8 15 15 15;
}

#ab,#ex 
{
    -fx-padding: 8 15 15 15;
}
